{% extends 'base.html.twig' %}

{% block title %}{{ 'Request password reset'|trans }}{% endblock %}

{% block body %}
   <section>
    <h1>{{ 'Request password reset'|trans }}</h1>
    {{ form_start(requestPasswordForm) }}
        {{ form_row(requestPasswordForm.email) }}
        <button type="submit">{{ 'Send'|trans }}</button>
    {{ form_end(requestPasswordForm) }}
    </section>
{% endblock %}
