<p>{{ 'Hello'|trans }} {{ user.nickname }}</p>
<p>{{ 'For your password reset request, please click on the link below.'|trans }}</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>{{ 'Thank you'|trans }}</p>